@model IEnumerable<Tennis.Models.Reservation>
@{ ViewBag.Title = "All Reservations"; }

<h1>All Reservations</h1>
<br />
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Reserver</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.Reserver</td>
                <td>@reservation.Start.ToString("dddd, MMMM dd, hh:mm tt")</td>
                <td>@reservation.End.ToString("dddd, MMMM dd, hh:mm tt")</td>
            </tr>
        }
    </tbody>
</table>